*{
    --headerHeight:60px;
}
.headerStatic{
    height:var(--headerHeight);
}
.header{
    height:var(--headerHeight);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
    z-index:100;
    transition: all 100ms ease;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
}

.header .headerWrapper{
margin: 0px 80px 0px 80px;
display: flex;
justify-content: space-between;
align-items: center;
height:60px;
}

.headerWrapper .brandName{
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.brandName img{
    width:30px;
    height:30px;
}

.brandName .brandTitle{
    margin-left:10px;
    font-size:20px;
    font-weight:500;
}