.sideBarItem{
    height:50px;
    display: flex;
    align-items: center;
    padding:0px 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    cursor: pointer;
    transition:all 0.3s ease;
}

.sideBarItem:hover{
    background-color:#efefef;
}

.sideBarItem .menuIcon{
    opacity:0.5;
    margin-right:10px;
    font-size:20px;
}