.dashboard{
    width:100vw;
    /* height:calc(100vh - var(--headerHeight) - var(--footerHeight)); */
    display:flex;
}
.dashboardContainer{
     width:100vw;
    overflow-x: hidden;
    overflow-y: auto;
    height:calc(100vh - var(--headerHeight));
}
.dashboardContainer .contains{
    min-height:calc(100vh - var(--headerHeight) - var(--footerHeight));
}
.dashboardContainer .footer{
    width: calc(100vw - 300px);
}