.colorListing{
    display:flex;
    align-items: center;
    justify-content: center;
}

.colorListing .colorListingWrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}